
<section class="container mt-5 mb-5 text-center" *ngIf="questions; else error">
  <div class="row" *ngIf="!quizFinished;">
    <div class="card mt-5">
      <div class="card-body">
        <h3 class="card-title text-center text-primary">Question {{currentQuestionIndex+1}}</h3>
        <hr>

        <div *ngIf="questions.length > 0; else noQuestion">
          <div class="accordion-item">
            <h2 class="accordion-header" [id]="'flush-heading-' + questions[currentQuestionIndex]?.id">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse-' + questions[currentQuestionIndex]?.id" aria-expanded="false"
                [attr.aria-controls]="'flush-collapse-' + questions[currentQuestionIndex]?.id">
                {{questions[currentQuestionIndex]?.question}}
              </button>
            </h2>
            <div [id]="'flush-collapse-' + questions[currentQuestionIndex]?.id" class="accordion-collapse collapse"
              [attr.aria-labelledby]="'flush-heading-' + questions[currentQuestionIndex]?.id"
              data-bs-parent=".accordion-flush">
              <h6 class="accordion-body mt-3">{{questions[currentQuestionIndex]?.answer}}</h6>
            </div>
          </div>
        </div>

        <ng-template #noQuestion>
          <h6 class="alert alert-info">No questions found.</h6>
        </ng-template>

        <div *ngIf="(!quizFinished && hasNextQuestion()) || lastQuestion()" class="mt-3">
          <button class="btn btn-primary mt-3 mr-2" (click)="correct()">Correct</button>
          <button class="btn btn-primary mt-3" (click)="incorrect()">Incorrect</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="quizFinished">
  <section class="container mt-5 mb-5 text-center">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <div class="mt-3">
          <h3>Quiz Finished!</h3>
          <h6>Correct Answers: {{ correctCount }}</h6>
          <h6>Incorrect Answers: {{ incorrectCount }}</h6>
          <h6>Score: {{ correctCount }} / {{ questions.length }}</h6>

          <button class="btn btn-primary mt-3 mr-2" (click)="restartQuiz()">Restart</button>
          <button class="btn btn-primary mt-3" (click)="returnQuestions()">Return</button>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #error>
  <section class="container mt-5 mb-5 text-center">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <div class="alert alert-danger">Error: Course not found.</div>
      </div>
    </div>
  </section>
</ng-template>