<div *ngIf="category; else error">
    <div class="bg-theme p-4">
        <div class="container">
            <h1 class="text-white">{{category?.title}}</h1>
            <hr class="text-white">
        </div>
    </div>
    
    <div class="container mt-5 mb-5">
        <div *ngIf="courses.length !== 0; else noCourses">
            <div class="row">
                <div class="col-md-3 mb-3" *ngFor="let item of courses">
                    <app-post-card [course]="item"></app-post-card>
                </div>
            </div>
        </div>

        <ng-template #noCourses>
            <h6 class="alert alert-info">No courses found.</h6>
        </ng-template>

    </div>
</div>

<ng-template #error>
    <div class="container">
        <h5 class="alert alert-danger p-3">Error: Category not found.</h5>
    </div>
</ng-template>