<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate error, quasi fugit dolorem, ut voluptatibus fuga vitae tenetur rem ipsam odio! Quae cumque recusandae laudantium quo, distinctio perferendis iusto blanditiis?</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing! Itaque.</p>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>