<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">Node & React Project - DirectProf</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Projet @ maxime adrien valentin giacomo</p>
            </div>
        </div>
    </div>
</footer>