<div class="card shadow-effect"
(click)="redirectToCourse(course?.id)">
    <img src="https://images.pexels.com/photos/197293/pexels-photo-197293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Hard </small>
        <small class="bg-light text-success text-center ms-3"> New Concept </small>
        <small class="bg-light text-info text-center ms-3"> Physics </small>

        <h5 class="mt-1"> {{course?.title}}</h5>
        <p>{{course?.description}}</p>

        <!-- <small class="bg-light text-warning text-center ms-3"> LAST UPDATED - SEP 2023 </small> -->

    </div>
</div>